.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 1px 30px;
}
  
.example-radio-button {
    margin: 20px;
}

.requerido-radio-group-label{
    padding-left: 50px;
}

.requerido-radio-button{
    margin: 20px;
}

#ng-container{
    margin-top: 2%;
}

.mat-form-field{
    display: block;
    margin: 2%;
}