<mat-card class="card-dialog">
    <mat-card-header>
      <mat-card-title>Consultar Proyecto / Plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <u class="textGuide">
        En esta sección usted podrá visualizar los planes construidos y sus características, solo lectura
      </u>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label id="tipo-input-label" disabled>{{nombre}}</mat-label>
          <mat-select >
            <mat-option formControlName="nombre">
              {{nombre}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <app-arbol *ngIf="tipoPlan != undefined" [tipoPlanId]="tipoPlan" [idPlan]="planId" [consulta]="true"></app-arbol>
    </mat-card-content>
  </mat-card>