<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Listar planes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <u class="textGuide">
            En esta sección usted podrá visualizar los planes construidos, con sus características y acciones para cada uno de ellos
        </u>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field [style.width.%]="50">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Plan" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: var(--primary);"> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: var(--primary);"> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: var(--primary);"> Estado </th>
                <td mat-cell *matCellDef="let row">
                  <div class="status-indicator" [ngClass]="{active: row.activo === true,inactive: row.activo === false}">
                    {{row.activo ? "Activo": "Inactivo"}}
                  </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="vigencia_aplica">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: var(--primary);"> Vigencia Aplica </th>
                <td mat-cell *matCellDef="let row">
                  <mat-chip-listbox class="chipsVigencias" aria-label="Vigencias selection">
                    <mat-chip *ngFor="let vigencia of formatearVigencias(row)">
                      {{vigencia}}
                    </mat-chip>
                  </mat-chip-listbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="tituloAcciones" style="background: var(--primary);"> Acciones </th>
                <td mat-cell *matCellDef="let row" class="td-align-right">
                    <button mat-icon-button class="menu-button-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="duplicar(row)">
                            <mat-icon class="menu-button-icon">file_copy</mat-icon>
                            <span>Duplicar</span>
                        </button>
                        <button mat-menu-item (click)="consultar(row)">
                            <mat-icon class="search-icon">search</mat-icon>
                            <span>Consultar</span>
                        </button>
                        <button mat-menu-item (click)="editar(row)">
                            <mat-icon class="edit-icon">edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="inactivar(row)">
                            <mat-icon class="delete-icon">delete_outline</mat-icon>
                            <span>Inactivar</span>
                        </button>
                    </mat-menu>
               </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se han encontrado resultados para la búsqueda "{{input.value}}"</td>
            </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
    </mat-card-content>
</mat-card>
