<mat-card class="card-dialog">
  <mat-card-header>
    <mat-card-title>Consultar Proyecto / Plan</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <u class="textGuide">
      En esta sección usted podrá visualizar los planes construidos y sus características, solo lectura
    </u>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field appearance="fill" [style.width.%]="100" [formGroup]="formConsultar">
      <mat-label id="tipo-input-label" disabled>{{plan.nombre}}</mat-label>
      <mat-select>
        <mat-option formControlName="nombre">
          {{plan.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-arbol *ngIf="plan.tipo_plan_id != undefined" [tipoPlanId]="plan.tipo_plan_id" [idPlan]="plan._id" [consulta]="true"></app-arbol>
  </mat-card-content>
</mat-card>
